/* -----------------Navigation Bar-----------------*/
.logo {
    padding: 30px;
}

.nav { 
    margin-right: 30px;
}

.navbar {
    border: 0.5px solid #EBE2E2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

li a {
    font-family: 'oswald';
    color: #FECB45;
}

li a:hover {
    color:#F96BCB;
}

.form-control {
    background-color: white    ;
    border: 2px solid #F96BCB;
    font-family: 'oswald';
}

/*Post Produce Banner*/
.header {
    background-color: #F96BCB;
    height: 100px;
}

.header-brand{
    font-family: 'oswald';
    color: white;
    font-size: 34px;
    text-align: center;
    padding: 30px 0;
}

/* -----------------Body-----------------*/


.postProduce {
    border: 1px solid #CFCCCC;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 200px;
    
}
.newListing, .textListing, .furtherInfo {
    font-family: 'helvetica';
    font-size: 30px;
    text-align: center;
    font-style: bold;
    margin-bottom: 50px;
}

/*New Listing*/
.postPhoto {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: -40px;
}

.spinach {
    border-radius: 8px;
}

/*Tell us About your listing*/
.form-group {
    margin-left: 100px;
    margin-right: 100px;
}

/*Further Information*/

.listingDescription, .extraInfo {
    margin-bottom: 100px;
}

.grid-container {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Drop-down1, .Drop-drown2, .Drop-down3 {
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Location Drop-down1"
      "Category Drop-drown2"
      "Collection-Informatin Drop-down3";
}
.Location { grid-area: Location; }
.Category { grid-area: Category; }
.Collection-Informatin { grid-area: Collection-Informatin; }
.Drop-down1 { grid-area: Drop-down1; }
.Drop-drown2 { grid-area: Drop-drown2; }
.Drop-down3 { grid-area: Drop-down3; }
 




/* -----------------Footer-----------------*/
.footerBar{
    background-color: #FFEDBE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "menu getInTouch join";
}

.footerBarLinks {
    margin-left: 200px;
}
.footerNavBar, .getInTouch, .join {
    padding: 70px 0;
}
.footerNavBar a {
    color: black;
    font-family: 'oswald';
    font-size: 32px; 
}
  
.getInTouch { 
    grid-area: "getInTouch"; 
    color: black;
    font-family: 'oswald';
    font-size: 32px; 
    text-align: center;
}

.icon {
    padding: 5px;
}
  
.join { grid-area: "join"; 
    color: black;
    font-family: 'oswald';
    font-size: 32px; 
    text-align: center;
    margin-right: 200px;
}

.joinButton {
    margin-top: 5px;
    width: 250px;
    height: 60px;
    background-color: #F96BCB;
    border: #F96BCB;
    color: white;
    font-family: 'Oswald';
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
